# Django security
SECRET_KEY=django-insecure-change-me-in-production
DEBUG=0
ALLOWED_HOSTS=localhost,127.0.0.1,backend_energo
CORS_ALLOWED_ORIGINS=http://localhost:7012

# Database (PostgreSQL)
DB_ENGINE=postgres
POSTGRES_DB=energoboard
POSTGRES_USER=energoboard
POSTGRES_PASSWORD=energoboard
POSTGRES_HOST=db
POSTGRES_PORT=5432
